.music-layer {
	position:fixed;
	left:10px;
	bottom:10px;
	background:url(images/icon_sprite.png) repeat-x scroll 0 0 transparent;
	border:1px solid #A6AAAD;
	height:32px;
	width:188px;
}
.music-layer .music-button {
	height:18px;
	width:18px;
	display:inline-block;
	text-decoration:none;
	background-image:url(images/icon_sprite.png);
	background-repeat:no-repeat;
	margin:8px 5px 0px 5px;
}
.music-layer .music-start-button {
	background-position:-17px -59px;
}
.music-layer .music-pause-button {
	background-position:-37px -39px;
}
.music-layer .music-next-button {
	background-position:-59px -38px;
}
.music-layer .music-list-button {
	background-position:-140px -40px;
}
.music-layer .music-start-button:hover {
	background-position:-17px -59px;
}
.music-layer .music-pause-button:hover {
	background-position:-37px -59px;
}
.music-layer .music-next-button:hover {
	background-position:-59px -58px;
}
.music-layer .music-list-button:hover {
	background-position:-140px -60px;
}
.music-layer .music-current-tip {
	display:block;
	visibility:hidden;
	width:188px;
	height:32px;
	line-height:32px;
	color:#FFF;
	background:#6BAE44;
	position:absolute;
	left:10px;
}